/*Navbar*/
.nav-section {
    padding: 0;
}

.navbar {
    background-color:#5C3324;
    text-align: right;
}

.navbar-text {
    font-family: 'Merriweather Sans', sans-serif;
    color:#fafafa!important;
    font-weight: 400;
    font-size:1.5rem;
    position: relative;
}

/*Not working - to check
.navbar-toggler {
    float: left;
    position: relative;
    cursor: pointer;
}
*/

.nav-link {
   font-family: 'Merriweather', serif;
   color: #fafafa;
   font-weight: 400;
   font-size: 1rem;
   text-transform: uppercase;
   display: block;
   padding: .4rem;
}
/*For tablets and below
@media (max-width: 768px) {
#sidebar-toggle {
    position: relative;
    float: left !important;
    }
}
*/

/*Hero Image - jumbotron*/
    #jumbo {
        background: url(../images/hero_image1.jpg);
        height: 75vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .display-5 {
        text-align: center;
        margin-top: 12.5rem;
        font-family: 'Merriweather Sans', sans-serif;
    }

    #jumbo-text {
        font-family: 'Merriweather', sans-serif;
        text-align: center;
        margin-top: 1rem;
        font-weight: 300;
    }

