/*Navbar*/
.navbar {
    background-color:#3A200F;
    text-align: right;
}

.navbar-text {
    font-family: 'Merriweather Sans', sans-serif;
    color:#fafafa;
    font-weight: 400;
    font-size:1.5rem;
    position: relative;
}

/*Not working - to check*/
.navbar-toggler {
    float: left;
    position: relative;
    cursor: pointer;
}

.nav-link {
   font-family: 'Merriweather', serif;
   color: #fafafa;
   font-weight: 400;
   font-size: 1rem;
   text-transform: uppercase;
   display: block;
   padding: .4rem;
}
/*For tablets and below
@media (max-width: 768px) {
#sidebar-toggle {
    position: relative;
    float: left !important;
    }
}
*/

h1 {
    padding: 50px;
}

/*Hero image*/
.hero-image {
    background-image: url(assets/images/hero_image1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}